	<body>
		<div class="header">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>Optica</span>
			</div>
			<a href="#" class="nav-trigger"><span></span></a>
		</div>
		<div class="side-nav">
			<div class="logo">
				<i class="fa fa-tachometer"></i>
				<span>Optica</span>
			</div>
			<nav>
				<ul>
					<li>
						<a href="/">
							<span><i class="fa fa-user"></i></span>
							<span>ORDEN DE TRABAJO</span>
						</a>
					</li>
					<li>
						<a href="/">
							<span><i class="fa fa-envelope"></i></span>
							<span>REPORTES</span>
						</a>
					</li>
					<li class="active">
						<a href="/">
							<span><i class="fa fa-bar-chart"></i></span>
							<span>LOCALES</span>
						</a>
					</li>
					<li>
						<a href="/">
							<span><i class="fa fa-credit-card-alt"></i></span>
							<span>USUARIO</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</body>